@font-face {
  font-family: AGaramondPro-Regular;
  src: url(/fonts/Adobe-Garamond-Pro/AGaramondPro-Regular.otf);
}

@font-face {
  font-family: GraphikRegular;
  src: url(/fonts/Graphik-Font-Family/GraphikRegular.otf);
}

body {
  background-image: url(http://jamespeirce.com/img/splash/RandysDonuts.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#nav-list {
  margin-top: 32px;
  margin-left: 64px;
}

#nav-list li {
  display: inline;
  margin-right: 48px;
  font-family: GraphikRegular;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#nav-list li a {
  color: #fff;
  text-decoration: none;
}

#nav-list li a:hover {
  color: #c62700;
}

h1 {
  margin-top: 32px;
  margin-left: 64px;
  color: #191c1f;
  font-family: AGaramondPro-Regular;
  font-size: 64px;
  letter-spacing: 2px;
}
